* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Pacifico', cursive;
    
}

li{
    list-style: none;
}

h3{
    text-align: center;
    margin-top: 1vw;
}

#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-container{
    width: 40rem;
}

#details pre{
    font-family: 'Pacifico', cursive;  
}

#btns{
    margin: 1vw;
}

#btns button{
    font-family: 'Pacifico', cursive;
}

.active{
    display: block;
}

.unactive{
    display: none;
}

#candidate-form h3{
    margin: 2vw 0vw;
}


#candidate-form form div{
    margin-bottom: 2vw;
}

input{
    text-align: center;
}


.resume ul{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
/* General Resume Template */
.resume-template{
    font-family: 'Inter', sans-serif;
    border: 2px solid black;
    margin: 2rem 0;
    width: 40rem;
    height: 50rem;
    display: none;

}


/* Resume Template 1*/
.left-box{
    background-color: rgb(121, 191, 230);
    width: 30%;
}

.left-box .section-heading{
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    background: rgb(49, 150, 181);
}

.left-box .section-stuff{
    padding: 1rem;
    /* background: rgb(49, 150, 181); */
}

.right-box{
    background-color: rgb(217, 248, 261);
    width: 70%;
}

.right-box .heading-name{
    font-size: 2.5rem;
    text-align: right;
    padding-right: 1rem;
}

.right-box .template-designation{
    text-align: right;
    padding-right: 1rem;
    font-size: 1.5rem;
}

.right-box p, .right-box section{
    padding: 1rem;
}


.right-box .section-heading{
    font-weight: bolder;
    color: #3737fd;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
}

.right-box .section-stuff{
    padding: 0.5rem 1rem;
}